// footer.scss
$footer-height: 60px;

:root {
  --footer-height: #{$footer-height};
  --footer-bg: #ffffff;
}

.app-header {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: $footer-height;
  display: flex;
  background: var(--footer-bg);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.08);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.auth-buttons {
  display: flex;
  gap: 10px
}

.app-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}